@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

*{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --gray: #E9E9E9;
    --light-gray: #EFEFEF;
}

.border-gray{
    border-color: var(--gray);
}

.custom-black{
    color: #1b2124;
}
@media (max-width: 1023px) {
  .box-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

